{% extends "base.html" %}
{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container mt-4">

<button onclick="history.back()" class="btn btn-secondary mb-3">
⬅ Back
</button>

<h3 class="mb-3">My Bookings</h3>

<table class="table table-bordered table-hover">

<thead class="table-dark">
<tr>
<th>Car</th>
<th>From</th>
<th>To</th>
<th>Days</th>
<th>Total Price</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for booking in bookings %}
<tr>

<td>
{{ booking.vehicle.brand }} - {{ booking.vehicle.name }}
</td>

<td>{{ booking.start_date }}</td>

<td>{{ booking.end_date }}</td>

<td>{{ booking.total_days }}</td>

<td>${{ booking.total_price }}</td>

<td>

{% if booking.status == "Approved" %}
<span class="badge bg-success">APPROVED</span>

{% elif booking.status == "Pending" %}
<span class="badge bg-warning text-dark">PENDING</span>

{% else %}
<span class="badge bg-danger">CANCELLED</span>
{% endif %}

</td>

<td>

{% if booking.status == "Pending" %}

<a href="{% url 'approve_booking' booking.id %}" 
class="btn btn-sm btn-success">
Approve
</a>

<a href="{% url 'reject_booking' booking.id %}" 
class="btn btn-sm btn-danger">
Reject
</a>

{% else %}
-
{% endif %}

</td>

</tr>

{% empty %}

<tr>
<td colspan="7" class="text-center">
No bookings found
</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}